@import 'tailwindcss';

:root {
  --background: #f1f1f1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #f1f1f1;
  }
}

body {
  background: #f1f1f1;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
