.video-area {
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
}
.video-area > iframe {
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  .video-area > iframe {
    height: 200px;
  }
}
