.artist-box {
  box-shadow: 2px 2px 0 0 #8aceff;
}
.artist-box:hover {
  translate: 0 -5px;
}
.tag-area {
  height: 30px;
  padding: 5px 0;
  border-top: solid 1px #c4c4c4;
  text-align: start;
}
.day1 {
  color: #696969;
  font-size: small;
  padding: 0 5px;
  border-radius: 50px;
  margin-right: 5px;
}
.day2 {
  color: #696969;
  font-size: small;
  padding: 0 5px;
  border-radius: 50px;
  margin-right: 5px;
}
.day3 {
  color: #696969;
  font-size: small;
  padding: 0 5px;
  border-radius: 50px;
}
.tag-area {
  height: 30px;
}
